.modal {
    &--active {
        position: relative;
        @include respond-to(md) {
            display: none;
        }
    }

    &__backdrop {
        background: #0000008c;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: none;

        .modal--active & {
            display: block;
        }
    }
}

